    
<h4> Funciones predefinidas </h4>
<br>
<h3> {{ nombre }} </h3>
<h4>{{ max([1,2,3,4]) }} </h4>
<br>
<h4>{{ min([1,2,3,4]) }} </h4>
<br>

{% for i in range(1, 20, 5) %}
    {{i}}
{% endfor %}

<h4> Filtros </h4>

<p> El array tiene {{ animales|length }} elementos.</p>

{% set email= '    email@gmail.com     ' %}

{{ dump(email|trim|upper|lower) }}
{{email}}