{% extends 'layouts/master.html.twig' %}

{% block titulo %} Animales {% endblock %}

{% block cabecera %}
    {{parent()}} <!-- hereda lo que tenia el bloque- imprime lo que tenia el bloque-->
    <h2>{{ title }}</h2>
{% endblock %}

{% block contenido %}
    {#
    <h1>{{ title }}</h1>
    <!-- los parametro opcionales se cargan en routes -->
    <h2> Tu nombre es: {{ nombre }}</h2>
    <h3> Tu apellido es: {{ apellido }}</h3>
    #}
    
    {# Creando variables#}
    {% set perro = 'Pastor alemán'%}
    <h4>{{ perro }}</h4>
    
    {# Trabajar con arrays#}
    
    {{ dump(animales) }}
    {{ animales[1] }}
    
    {# Trabajar con arrays asociativos#}
    
    {{ dump(aves) }}
    
    
    {{ aves.tipo ~ '-' ~aves.raza }}
    
    {# Condicionales#}
    
    {% if aves.tipo == 'paloma' %}
        <p> <strong>
                Cuidado una paloma asesina
            </strong>
        </p>
    {% else %}
        <p> <strong>
                No hay palomas.
            </strong>
        </p>
    {% endif %}
    
    {# Bucles #}
    
    {% if animales|length >=0 %}
        <ul>
            {% for animal in animales %}
                <li> {{ animal }}</li>
            
            {% endfor %}
        </ul>

    {% endif %}
    
    
    
    {% for i in 0..animales|length %}
               {{ i }}
               {% if i == animales|length %}
                   <hr>
               {% endif %}
    {% endfor %}
    
    {% for i in 0..10 %}
               {{ i }}
               
    {% endfor %}
        
        
{% endblock %}